<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>470642876262-ae5ms2417c8po3k12fr5svm01h3oob3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470642876262-ae5ms2417c8po3k12fr5svm01h3oob3b</string>
	<key>API_KEY</key>
	<string>AIzaSyDp9COckRH8YZlm3NVCZWicyz2Uq9Ovua4</string>
	<key>GCM_SENDER_ID</key>
	<string>470642876262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>simform.FireBaseNewChatDemo</string>
	<key>PROJECT_ID</key>
	<string>chatdemo-7f74b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdemo-7f74b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:470642876262:ios:17889aeab14ae608</string>
	<key>DATABASE_URL</key>
	<string>https://chatdemo-7f74b.firebaseio.com</string>
</dict>
</plist>